
<%- include("header") -%> 
<div class="box" id="heading">
    <h1> <%= ListTitle %> </h1>
</div>
<div class="box">
        
        <div class="box">
            <!-- we added form here to delete a item when it is checked 
            to submit a form on check we used onChange="this.form.submit()"
            -->
            
                <% newItem.forEach(function (item) {%>
                    <form action="/delete" method="post" value="<%= ListTitle %>" name="form">
                        <div class="item">
                            <input type="checkbox" name="check" onchange="this.form.submit()" value="<%= item._id %>">
                            <p><%=  item.name  %></p>
                        </div>
                        <input type="hidden" name="ListName" value="<%= ListTitle %>">
                    </form>
                    
                    <% });%>
            <form class="item" method="post" action="/">
                <input type="text" name="names"  placeholder="New Item">
                <button type="submit" name="list" value="<%= ListTitle %>">+</button>
            </form> 
        </div>
</div>


<%- include("footer") -%> 


